
body {
  font-family: 'Roboto', sans-serif;
 
}

/*menu css*/
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    border-radius:0;
    padding-top:20px;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
    font-size:14px;
    font-weight:600;
  text-transform:uppercase;
}

.navbar-default .navbar-nav li a :hover{
    color: #82ca9c;
}
..navbar-nav>li>a:hover{
	  color: #82ca9c;
}

.navbar-default .collapse .login a{
    color: #82ca9c;
    border: 1px solid #82ca9c;
    border-radius: 20px;
    padding: 3px 10px;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 4px;
    display:inline-block;
    overflow:hidden;
}
.navbar-default .collapse .login:hover a{
    background-color: rgba(0, 173, 62, 0.75);
    color:#fff;
}

.navbar-default .collapse .adminbtn a{
    color: #5334ff;
    border: 1px solid #5334ff;
    border-radius: 20px;
    padding: 3px 10px;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 4px;
    display:inline-block;
    overflow:hidden;
}

.navbar-default .collapse .adminbtn:hover a{
    background-color: #5334ff;
    color:#fff;
}



.navbar-nav>li>a:hover {
    color: #82ca9c;
    background-color: transparent;
}



.jumbotron {

  align-items: center;

  color: #ffffff;
 
/*  text-shadow: 0.25px 0.25px 0.25px #000000; */
}

.jumbotron h2 {
  font-size: 60px;
 
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}


.navbar-brand {
	position: relative;
	bottom: 28px;
	margin-top: -5px;
}
